<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirect root to /fr
  RewriteRule ^$ /fr/ [R=301,L]

  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # If the requested resource doesn't exist, use index.html
  RewriteRule ^(.*)$ $1.html [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ /index.html [L]
</IfModule>
